.formulario{
    width: 50%;
}

.grid{
    display: grid;
    grid-template-columns: auto auto;
    grid-gap: 10px;
}

input.ng-invalid.ng-touched{
    border: 1px solid red;
}

select.ng-invalid.ng-touched{
    border: 1px solid red;
}