<div class="card border-primary mb-3">
  <div class="card-header">Productos</div>
  <div class="card-body text-primary">
    <h5 class="card-title">Listado de productos</h5>

    <table class="table table-bordered table-striped">
      <thead>
        <tr>
          <th>id</th>
          <th>nombre</th>
          <th>Descripción</th>
          <th>Proveedor</th>
          <th>Precio base</th>
          <th>IVA</th>
          <th>Descuento aplicado</th>
          <th>Coste final</th>
          
          <th style="width: 400px;">Acción</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let producto of productos">
          <td>{{ producto.id }}</td>
          <td>{{ producto.name }}</td>
          <td>{{ producto.description }}</td>
          <td>{{ producto.proveedor.nombre }}</td>
          <td>{{ producto.detalleProducto.cost }} €</td>
          <td>{{ producto.detalleProducto.impuesto }} %</td>
          <td *ngIf="producto.detalleProducto.discount">Aplicado descuento</td>
          <td *ngIf="!producto.detalleProducto.discount">Sin descuento</td>
          <td>{{ producto.detalleProducto.finalCost }} €</td>
          <td>
            <a style="color: white; margin: 3px;" class="btn btn-sm btn-info" (click)="goProduct(producto.id)">Ver detalle</a>
            <a style="color: white; margin: 3px;" class="btn btn-sm btn-warning" >Modificar producto</a>
            <a style="color: white; margin: 3px;" class="btn btn-sm btn-danger" (click)="deleteProduct(producto.id)">Borrar producto</a>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
  <div class="card-footer text-muted">
    <button class="btn btn-primary" (click)="addProduct()">Añadir producto</button>
    <button class="btn btn-primary m-1" (click)="crearDescuento()">Crear descuento</button>
    <button class="btn btn-primary m-1" (click)="verDescuentos()">Ver descuentos</button>
  </div>
</div>
<!-- Formulario de creacion de producto -->
<div class="formulario" *ngIf="showForm">

    <form (ngSubmit)="onSubmit()" #f="ngForm">
      <div class="grid">
      <div class="form-group">
        <label for="name">Nombre </label>
        <input placeholder="Camiseta" id="name" 
          class="form-control" 
          type="text" 
          ngModel 
          name="name"
          #name="ngModel" 
          required>
        <span class="help-block" *ngIf="!name.valid && name.touched"> Rellena el campo nombre</span>
      </div>

      <div class="form-group">
        <label for="description">Descripción </label>
        <input placeholder="Es una camiseta blanca con lunares" id="description" 
          class="form-control" 
          type="text" 
          ngModel 
          name="description"
          #description="ngModel" 
          required>
        <span class="help-block" *ngIf="!description.valid && description.touched"> Rellena el campo descripción</span>
      </div>

      <div class="form-group">
        <label for="material">Material </label>
        <select ngModel #material="ngModel" name="material" (change)="onChangeSelect($event)" class="form-select" aria-label="Default select example" required>
          <option value="{{material}}" *ngFor="let material of materiales">{{material}}</option>
        </select>
        <span class="help-block" *ngIf="!material.valid && material.touched"> Escoge un material</span>
      </div>

      <div class="form-group">
        <label for="peso">Peso</label>
        <input placeholder="2.05" id="peso" 
          class="form-control" 
          type="number" 
          ngModel 
          name="peso"
          #peso="ngModel" 
          required>
        <span class="help-block" *ngIf="!peso.valid && peso.touched">Rellena el campo peso</span>
      </div>

      <div class="form-group">
        <label for="coste">Coste</label>
        <input id="coste" 
          placeholder="9.99"
          class="form-control" 
          type="number" 
          ngModel 
          name="coste"
          #coste="ngModel" 
          required>
        <span class="help-block" *ngIf="!coste.valid && coste.touched"> Rellena el campo coste</span>
      </div>

      <div class="form-group">
        <label for="impuesto">Impuesto </label>
        <select ngModel #impuesto="ngModel" name="impuesto" (change)="onChangeSelect($event)" class="form-select" aria-label="Default select example" required>
          <option value="{{impuesto}}" *ngFor="let impuesto of impuestos">{{impuesto}}</option>
        </select>
        <span class="help-block" *ngIf="!impuesto.valid && impuesto.touched"> Escoge un impuesto para el producto</span>
      </div>

      <div class="form-group">
        <label for="description">Proveedor </label>
        <select ngModel #proveedor="ngModel" name="proveedor" (change)="onChangeSelect($event)" class="form-select" aria-label="Default select example" required>
          <option value="{{proveedor.id}}" *ngFor="let proveedor of proveedores">{{proveedor.nombre}}</option>
        </select>
        <span class="help-block" *ngIf="!proveedor.valid && proveedor.touched"> Escoge un proveedor</span>
      </div>

    </div>
      <button [disabled]="!f.valid" class="btn btn-primary mt-3" type="submit">Guardar formulario</button>
    </form>


  
</div>
<!-- Formulario de creacion de descuento -->
<div class="formulario" *ngIf="showFormDescuento">
  <form (ngSubmit)="onSubmitDescuento()" #fDescuento="ngForm">

    <div class="grid">

      <div class="form-group">
        <label for="name">Nombre del descuento </label>
        <input placeholder="Nombre del descuento" id="name" 
          class="form-control" 
          type="text" 
          ngModel 
          name="name"
          #name="ngModel" 
          required>
        <span class="help-block" *ngIf="!name.valid && name.touched"> Rellena nombre del descuento</span>
      </div>

    <div class="form-group">
      <label for="descuento">Porcentaje de descuento </label>
      <input placeholder="Porcentaje de descuento" id="descuento" 
        class="form-control" 
        type="text" 
        ngModel 
        name="descuento"
        #descuento="ngModel" 
        required>
      <span class="help-block" *ngIf="!descuento.valid && descuento.touched"> Rellena el porcentaje de descuento</span>
    </div>

          


  </div>
    <button [disabled]="!fDescuento.valid" class="btn btn-primary mt-3" type="submit">Guardar formulario</button>
  </form>
</div>

<!-- Ver descuentos y aplicar-->
<div class="formulario" *ngIf="showTablaDescuentos">
  <table class="table table-bordered table-striped">
    <thead>
      <tr>
        <th>Nombre</th>
        <th>Porcentaje</th>
        <th>Aplicar a</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let descuento of descuentos">
        <td>{{ descuento.nombre }}</td>
        <td>{{ descuento.descuento }} %</td>
        <td>
          <div class="grid">
            <select ngModel (change)="onChangeDetalle($event)" class="form-select" aria-label="Default select example" required>
              <option value="{{producto.detalleProducto.id}}" *ngFor="let producto of productos">{{producto.name}}</option>
            </select>
            <a style="color: white; margin: 3px;" class="btn btn-sm btn-info" (click)="aplicarDescuento(detalleProductoId, descuento.id)">Aplicar descuento</a>
          </div>
        </td>
      </tr>
    </tbody>
  </table>
</div>

<!-- No hay descuentos -->
<div class="formulario" *ngIf="!showTablaDescuentos">
  No hay descuentos, vaya a la pestaña Crear descuento y cree uno.
</div>
