<div class="card border-primary mb-3">
  <div class="card-header">Productos</div>
  <div class="card-body text-primary">
    <h5 class="card-title">Listado de productos</h5>

    <table class="table table-bordered table-striped">
      <thead>
        <tr>
          <th>id</th>
          <th>nombre</th>
          <th>Descripción</th>
          <th style="width: 400px;">Acción</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let producto of productos">
          <td>{{ producto.id }}</td>
          <td>{{ producto.name }}</td>
          <td>{{ producto.description }}</td>
          <td>{{ producto.proveedor.nombre }}</td>
          <td>
            <a style="color: white; margin: 3px;" class="btn btn-sm btn-primary" (click)="goProduct(producto)">Ver detalle</a>
            <a style="color: white; margin: 3px;" class="btn btn-sm btn-warning" >Modificar producto</a>
            <a style="color: white; margin: 3px;" class="btn btn-sm btn-danger" >Borrar producto</a>
          </td>
        </tr>
      </tbody>
    </table>

  </div>
</div>
