<div class="card border-primary mb-3">
  <div class="card-header">Productos</div>
  <div class="card-body text-primary">
    <h5 class="card-title">Listado de productos</h5>

    <table class="table table-bordered table-striped">
      <thead>
        <tr>
          <th>id</th>
          <th>nombre</th>
          <th>Descripción</th>
          <th>Proveedor</th>
          <th style="width: 400px;">Acción</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let producto of productos">
          <td>{{ producto.id }}</td>
          <td>{{ producto.name }}</td>
          <td>{{ producto.description }}</td>
          <td>{{ producto.proveedor.nombre }}</td>
          <td>
            <a style="color: white; margin: 3px;" class="btn btn-sm btn-info" (click)="goProduct(producto.id)">Ver detalle</a>
            <a style="color: white; margin: 3px;" class="btn btn-sm btn-warning" >Modificar producto</a>
            <a style="color: white; margin: 3px;" class="btn btn-sm btn-danger" (click)="deleteProduct(producto.id)">Borrar producto</a>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
  <div class="card-footer text-muted">
    <button class="btn btn-primary" (click)="addProduct()">Añadir producto</button>
  </div>
</div>
<!-- Formulario de creacion de producto -->
<div class="formulario" *ngIf="showForm">

    <form (ngSubmit)="onSubmit()" #f="ngForm">
      <div class="grid">
      <div class="form-group">
        <label for="name">Nombre </label>
        <input placeholder="Camiseta" id="name" 
          class="form-control" 
          type="text" 
          ngModel 
          name="name"
          #name="ngModel" 
          required>
        <span class="help-block" *ngIf="!name.valid && name.touched"> Rellena el campo nombre</span>
      </div>

      <div class="form-group">
        <label for="description">Descripción </label>
        <input placeholder="Es una camiseta blanca con lunares" id="description" 
          class="form-control" 
          type="text" 
          ngModel 
          name="description"
          #description="ngModel" 
          required>
        <span class="help-block" *ngIf="!description.valid && description.touched"> Rellena el campo descripción</span>
      </div>

      <div class="form-group">
        <label for="material">Material </label>
        <select ngModel #material="ngModel" name="material" (change)="onChangeSelectMaterial($event)" class="form-select" aria-label="Default select example" required>
          <option value="{{material}}" *ngFor="let material of materiales">{{material}}</option>
        </select>
        <span class="help-block" *ngIf="!material.valid && material.touched"> Escoge un material</span>
      </div>

      <div class="form-group">
        <label for="peso">Peso</label>
        <input placeholder="2.05" id="peso" 
          class="form-control" 
          type="number" 
          ngModel 
          name="peso"
          #peso="ngModel" 
          required>
        <span class="help-block" *ngIf="!peso.valid && peso.touched"> Rellena el campo peso</span>
      </div>

      <div class="form-group">
        <label for="coste">Coste</label>
        <input id="coste" 
          placeholder="9.99"
          class="form-control" 
          type="number" 
          ngModel 
          name="coste"
          #coste="ngModel" 
          required>
        <span class="help-block" *ngIf="!coste.valid && coste.touched"> Rellena el campo coste</span>
      </div>

      <div class="form-group">
        <label for="impuesto">Impuesto </label>
        <select ngModel #impuesto="ngModel" name="impuesto" (change)="onChangeSelect($event)" class="form-select" aria-label="Default select example" required>
          <option value="{{impuesto}}" *ngFor="let impuesto of impuestos">{{impuesto}}</option>
        </select>
        <span class="help-block" *ngIf="!impuesto.valid && impuesto.touched"> Escoge un impuesto para el producto</span>
      </div>

      <div class="form-group">
        <label for="description">Proveedor </label>
        <select ngModel #proveedor="ngModel" name="proveedor" (change)="onChangeSelect($event)" class="form-select" aria-label="Default select example" required>
          <option value="{{proveedor.id}}" *ngFor="let proveedor of proveedores">{{proveedor.nombre}}</option>
        </select>
        <span class="help-block" *ngIf="!proveedor.valid && proveedor.touched"> Escoge un proveedor</span>
      </div>

    </div>
      <button [disabled]="!f.valid" class="btn btn-primary mt-3" type="submit">Guardar formulario</button>
    </form>


  
</div>
